{% package main %}

{% templ postsTemplate(posts []Post) %}
	{% for _, p := range posts %}
		{%! postTemplate(p) %}
	{% endfor %}
{% endtempl %}

{% templ postTemplate(post Post) %}
	<div>{%= post.Name %}</div>
	<div>{%= post.Author %}</div>
{% endtempl %}

