# Output.
cmd/templ/templ

# Logs.
cmd/templ/lspcmd/*log.txt

# Go code coverage.
coverage.out
coverage

# Mac filesystem jank.
.DS_Store

# Docusaurus.
docs/build/
docs/resources/_gen/
node_modules/
dist/

# Nix artifacts.
result

# Editors
## nvim
.null-ls*

# Go workspace.
go.work

# direnv
.direnv
