package testtext

templ BasicTemplate(name string) {
	<div>Name: { name }</div>
	<div>Text `with backticks`</div>
	<div>Text `with backtick</div>
	<div>Text `with backtick alongside variable: { name }</div>
}
