package testscriptusage

script withParameters(a string, b string, c int) {
	console.log(a, b, c);
}

script withoutParameters() {
	alert("hello");
}

templ Button(text string) {
	<button onClick={ withParameters("test", text, 123) } onMouseover={ withoutParameters() } type="button">{ text }</button>
}

templ ThreeButtons() {
	{! Button("A") }
	{! Button("B") }
	<button onMouseover="console.log('mouseover')" type="button">Button C</button>
}

