package testcomment

templ render(content string) {
	<!-- simple html comment -->
	@paragraph(content)
	<!--
		multiline
		comment
	-->
	@paragraph("second paragraph")
	<!--
		@paragraph("commented out composed element")
	-->
	@paragraph("third paragraph")
	<!-- commented out string expression: { content } -->
	<span>{ content }</span>
	<!-- <div>comment with html</div> -->
}

templ paragraph(content string) {
	<p>{ content }</p>
}
