package testcssusage

css green() {
	color: #00ff00;
}

css className() {
	background-color: #ffffff;
	color: { red };
}

templ Button(text string) {
	<button class={ templ.Classes(className(), templ.Class("&&&unsafe"), "safe", templ.SafeClass("safe2")) } type="button">{ text }</button>
}

templ MapCSSExample() {
	<div class={ templ.Classes(map[string]bool{ "a": true, "b": false, "c": true }) }></div>
}

templ ThreeButtons() {
	{! Button("A") }
	{! Button("B") }
	<button class={ templ.Classes(green()) } type="button">{ "Green" }</button>
	{! MapCSSExample() }
}

