{% package testcssusage %}

{% css green() %}
    color: #00ff00;
{% endcss %}

{% css className() %}
	background-color: #ffffff;
	color: {%= red %};
{% endcss %}

{% templ Button(text string) %}
	<button class={%= templ.Classes(className(), templ.Class("other")) %} type="button">{%= text %}</button>
{% endtempl %}

{% templ ThreeButtons() %}
	{%! Button("A") %}
	{%! Button("B") %}
	<button class={%= templ.Classes(green()) %} type="button">{%= "Green" %}</button>
{% endtempl %}
