package testcssusage

css green() {
	color: #00ff00;
}

css className() {
	background-color: #ffffff;
	color: { red };
}

templ Button(text string) {
	<button class={ className(), templ.Class("&&&unsafe"), "safe", templ.SafeClass("safe2") } type="button">{ text }</button>
}

templ LegacySupport() {
	<div class={ templ.Classes(templ.Class("test"), "a") }></div>
}

templ MapCSSExample() {
	<div class={ map[string]bool{ "a": true, "b": false, "c": true } }></div>
}

templ KVExample() {
	<div class={ "a", templ.KV("b", false) }></div>
	<input type="email" id="email" name="email" class={ "a", "b", "c", templ.KV("c", false) } placeholder="your@email.com" autocomplete="off"/>
}

templ ThreeButtons() {
	{! Button("A") }
	{! Button("B") }
	<button class={ templ.Classes(green) } type="button">{ "Green" }</button>
	{! MapCSSExample() }
	{! KVExample() }
}

