package testspreadattributes

script BasicScript(message string) {
	alert(message);
}

templ BasicTemplate(spread templ.Attributes, otherSpread templ.Attributes) {
	<div>
		<a { spread... } { otherSpread... }>text</a>
		<button onclick={BasicScript("you clicked on me")}
			if true {
				{ spread... }
			}
		>text2</button>
		<div
			if false {
				{ spread... }
			}
		>text3</div>
	</div>
}