package testtemplelement

import "fmt"

templ wrapper(index int) {
	<div id={ fmt.Sprint(index) }>
		{ children... }
	</div>
}

templ template() {
	@wrapper(1) {
		children1
		@wrapper(2) {
			children2
			@wrapper(3) {
				children3
				@wrapper(4)
			}
		}
	}
}

