package testtemplelement

templ layout() {
	<p>header</p>
	{ children... }
	<p>footer</p>
}

templ component() {
	<p>some component</p>
}

templ template() {
	@layout() {
		some text
		@component()
	}
}

