package teststringerrs

import "errors"

var errSomethingBad = errors.New("bad error")

func funcWithNoError() (s string) {
	return "OK"
}

func funcWithError(bad bool) (s string, err error) {
	if bad {
		return "", errSomethingBad
	}
	return "OK2", nil
}

templ render(bad bool) {
	<ul>
		<li>{ "raw" }</li>
		<li>{ funcWithNoError() }</li>
		<li>{ funcWithError(bad) }</li>
	</ul>
}
