package testahref

templ render() {
	<form action="javascript:alert('unaffected');">Ignored</form>
	<form action={ templ.URL("javascript:alert('should be sanitized')") }>Sanitized</form>
	<form action={ templ.SafeURL("javascript:alert('should not be sanitized')") }>Unsanitized</form>
}
