package testscriptinline

script withParameters(a string, b string, c int) {
	console.log(a, b, c);
}

script withoutParameters() {
	alert("hello");
}

templ InlineJavascript(a string) {
	@withoutParameters()
	@withParameters(a, "test", 123)
	// Call once more, to ensure it's defined only once
	@withoutParameters()
	@withParameters(a, "test", 123)
}
