package testjsx

import "github.com/a-h/templ/generator/test-jsx/jsxmod"

templ Jsx() {
	<div>
		<h1>JSX-like Syntax Demo</h1>
		<Button title={ str() } />
		<dl>
			<DData term="Name" detail="Tom Cook" />
		</dl>
		<Card title="Card Title">card body</Card>
		<jsxmod.Text name="JSX Module" />
	</div>
}

templ Button(title string) {
	<button>{ title }</button>
}

templ DData(term, detail string) {
	<dt>{ term }</dt>
	<dd>{ detail }</dd>
}

templ Card(title string) {
	<article class="card">
		<h2>{ title }</h2>
		<main>
			{ children... }
		</main>
	</article>
}

func str() string {
	return "Click me"
}
