package main

import "fmt"

templ Page(count int) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>templ test page</title>
		</head>
		<body>
			<h1>Count</h1>
			<div data-testid="count">{ fmt.Sprintf("%d", count) }</div>
			<div data-testid="modification">Original</div>
		</body>
	</html>
}
