package elseif

templ render(d data) {
	<div>
		if d.IsTrue() {
			{ "True" }
		} else if !d.IsTrue() {
			{ "False" }
		} else {
			{ "Else" }
		}
	</div>
	<div>
		if 1 == 2 {
			{ "If" }
		} else if true {
			{ "ElseIf" }
		}
	</div>
	<div>
		if 1 == 2 {
			{ "If" }
		} else if 1 == 3 {
			{ "ElseIf" }
		} else if 1 == 4 {
			{ "ElseIf" }
		} else if true {
			{ "OK" }
		}
	</div>
}
