package turbo

import (
	"fmt"

	"github.com/a-h/templ"
)

templ actionTemplate(action string, target string) {
	<turbo-stream action={ action } target={ target }>
		<template>
			{ fmt.Sprint("") }
			{ children... }
		</template>
	</turbo-stream>
}

templ removeTemplate(action string, target string) {
	<turbo-stream action={ action } target={ target }></turbo-stream>
}
