package turbo

templ actionTemplate(action string, target string) {
	<turbo-stream action={ action } target={ target }>
		<template>
			{ children... }
		</template>
	</turbo-stream>
}

templ removeTemplate(action string, target string) {
	<turbo-stream action={ action } target={ target }></turbo-stream>
}
